* {
  margin: 0;
  padding: 0;
}

#head-memu {
  background-color: rgb(44, 46, 67);
  color: white;
  width: 100%;
}

#familyList {
  display: flex;
  list-style: none;
  justify-content: center;
}
#familyList li a {
  justify-content: center;

  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
}
#head-memu #selected {
  background-color: rgb(189, 30, 42);
}
#middle-head {
  display: flex;
  justify-content: center;
  margin: 50px;
}
#search-bar {
  display: flex;
  text-align: center;
  width: 25%;
  height: 40px;
  border-style: solid;
  border-color: rgb(1, 88, 185);
  margin-top: 15px;
  margin-bottom: 15px;
}
#select-search {
  border-style: hidden;

  padding: 0;
}
#input-search {
  width: 90%;
  border-style: hidden;
  margin-top: 0;
  padding: 0;
}
#hrefImage {
  display: flex;
}
.hrefImage {
  padding: 5px;
  height: 40px;
  margin-top: 10px;
}
#bottom-head {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(1, 88, 185);
}
#bottom-left-memu {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-left: 15%;
}
#bottom-left-memu li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
}

#bottom-right-memu {
  display: flex;
  list-style: none;
  margin-left: 15%;
  margin-top: 0;
}
#bottom-right-memu li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
}
