#main-contianer {
}

#carousel-warpper {
  display: flex;
  transition: transform 0.8s ease;
}
#main-warpper {
  display: flex;
  overflow: hidden;
}

#main-prev {
  position: absolute;
  margin-top: 360px;
  margin-left: 5%;
}
#main-next {
  position: absolute;
  margin-top: 360px;
  margin-left: 95%;
}

#food-intro {
  margin-top: 50px;
  height: 600px;
  background-image: url("https://www.gimhae.go.kr/_res/tour/img/main/bg4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.food-page {
  display: flex;
  padding-top: 80px;
  margin-left: 26%;
  width: 880px;
  overflow: hidden;
}
.food-card {
  height: 270px;
  width: 200px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(165, 165, 165, 0.327);
  display: block;
  margin: 10px;
}

.food-card img {
  width: 200px;
  height: 125px;
  background-color: white;
  display: block;
}

.food-card p {
  font-size: 12px;
}

#food-carousel {
  display: flex;
  transition: transform 0.8s ease;
}

#food-prev {
  position: absolute;
  margin-top: 180px;
  margin-left: 20%;
}
#food-next {
  position: absolute;
  margin-top: 180px;
  margin-left: 75%;
}
#food-intro h1 {
  padding-top: 50px;
  text-align: center;
  color: white;
}
#tour-page {
  margin: 10px auto;
}
#tour-page h1 {
  text-align: center;
}
#tour-carousel {
  display: flex;
  transition: transform 0.8s ease;
}

#tour-warpper {
  width: 960px;
  display: flex;
  margin-left: 25%;
  overflow: hidden;
}
.tour-card {
  width: 300px;
  height: 320px;
  background-color: white;
  margin: auto 10px;
  box-shadow: 5px 5px 5px rgba(165, 165, 165, 0.327);
}
.tour-card img {
  width: 300px;
  height: 200px;
}

.tour-button {
  display: flex;
}
#tour-prev {
  margin-left: 30%;
}

#tour-next {
  margin-left: 35%;
}
